@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.itens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.item {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
}

.item p.title {
    font-size: 2rem;
}

.item i {
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.item img {
    background-color: var(--cor-1);
    width: 20rem;
    border-radius: 8px;
    height: 8rem;
}

.item p {
    text-align: center;
}

.cuidado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.cuidado .divisor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    flex-wrap: nowrap;
}

.cuidado .divisor .numero {
    background-color: var(--cor-2);
    border-radius: 4px;
    padding: 0.2rem 1rem;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    color: var(--cor-4);
}
