.divisor {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.divisor img {
    width: auto;
}

.divisor .title {
    font-size: 1.6rem;
    text-align: center;
    padding: 3rem 0;
}

.divisor p {
    width: 100%;
    margin-bottom: 1rem;
}

.aviso {
    background-color: var(--cor-3);
    padding: 2rem 10rem;
}

.aviso h3 {
    color: #fff;
    text-align: center;
}

.aviso h4 {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-weight: 400;

}

@media only screen and (max-width: 1000px) {
    .conteudo {
        width: 100%;
        padding: 2rem 5rem;
    }
    
    .divisor {
        flex-wrap: wrap;
    }

    .aviso {
        padding: 2rem 5rem;
    }
}