.itens {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 20%;
    margin: 1rem;
}

.itens .item a.btn {
    background-color: var(--cor-1);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 25px;
}

@media only screen and (max-width: 1000px) {
    .item {
        width: 100%;
    }
}